%ol.breadcrumb
  = partial "breadcrumb", { compound: namespace }
%h2
  = namespace.html_fully_qualified_name

- if namespace.has_namespaces?
  = partial 'table', { heading: "Namespaces", items: namespace.namespaces }

= partial "compound_common", { compound: namespace }
