%h2
  = namespace.html_qualified_name

= partial "_description", { describable: namespace }

- if namespace.has_namespaces?
  = partial '_table', { heading: "Namespaces", items: namespace.namespaces }

- if namespace.has_classes?
  = partial '_table', { heading: "Classes", items: namespace.classes }

