= partial "anchor", { anchor: variable.anchor }
= partial "member_title", { member: variable, labels: variable_labels(variable) }

- if variable.has_description?
  %h4 Description
  %p
    = variable.html_description
