- if index.has_classes?
  .table-responsive
    %table.table.table-striped.table-hover
      - ('a'..'z').each do |letter|
        - if index.grouped_classes.has_key? letter
          %tr
            %td
              %h3.label.label-default
                = letter.upcase
            %td
          - index.grouped_classes[letter].each do |clazz|
            %tr
              %td
                = clazz.html_name
                - if clazz.has_qualifying_parent?
                  %small
                    %span>(
                    = clazz.qualifying_parent.html_qualified_name
                    %span>)
              %td
                - if clazz.has_brief?
                  %span.hidden-xs
                    = clazz.html_brief
