= clazz.name
- if clazz.abstract?
  ABSTRACT

- clazz.public_methods.each do |method|
  = partial 'templates/_method.html.haml', { method: method }

/ - unless clazz.innerclasses.empty?
/   / TODO Doxyparse support missing
/ - unless clazz.only_innerclasses.empty?
/   / TODO Doxyparse support missing
/ - unless clazz.only_innerstructs.empty?
/   / TODO Doxyparse support missing

/ %h1
/   Attributes
/ %ul
/   - clazz.attributes.each do |method|
/     = method.to_s

/ %h1
/   Static Attributes
/ %ul
/   - clazz.attributes(:public, true).each do |method|
/     = method.to_s
    
/ %h1
/   Enums
/ %ul
/   - clazz.enums.each do |enum|
/     = partial 'templates/_enum.html.haml', { enum: enum }
/ %h1
/   Methods
/ %ul
/   - clazz.methods.each do |method|
/     = partial 'templates/_method.html.haml', { method: method }

/ %h1
/   Static Methods
/ %ul
/   - clazz.methods(:public, true).each do |method|
/     = partial 'templates/_method.html.haml', { method: method }